[submodule "CNN_Accelerator"]
	path = CNN_Accelerator
	url = https://github.com/20kkm/CNN_Accelerator.git
[submodule "CNN_Accelerator_Private_file"]
	path = CNN_Accelerator_Private_file
	url = https://github.com/20kkm/CNN_Accelerator.git
